.contact-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;

    background-color: #fff;

    padding: 1em;
    border-radius: 0.8em;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

input {
    /*margin-left: 0.4em;*/
    background-color: #eae9e9;
    border-radius: 0.3em;
    margin: 0;
    /*margin-bottom: 0.8em;*/
}

