/*nav styling*/
.top-nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30em;
    padding-right: 0.55em;
    padding-left: 1em;
    background-color: #fff;
    border-radius: 1em;
    padding-block: 0.5em;
}

.nav-text {
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-inline: 1.8em;
    padding-block: 0.8em;
}

.nav-text:hover {
    background-color: #c8b7c9;
}

.active {
    /*background-color: #000;*/
    background-color: #EEEEEE;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 0.6em;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
}

#profile {
    position: absolute;
    top: 1.5em;
    right: 3vw;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

#profile:hover {
    cursor: pointer;
}

#prof-img {
    /*margin-top: 2.3em;*/
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

/*EOF nav styling*/


/*Search-container styling*/

.bottom {
    padding: 0 0 2em 0;
    margin: 0;
    border: 0;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.4em 0.4em 0.4em 1em;
    border-radius: 0.7em;
    gap: 0.5em;
}

.search-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 0.8em;

}

.search-item-box {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-text {
    color: #858282;
}

.search-option-text {
    color: #000;
}

.search-hr {
    background-color: #D9D9D9;
    margin-top: 0.5em;
    min-width: 0.1em;
    max-height: 1.5em;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    /*padding: 4.5px 6px 4.5px 8px;*/

    border-radius: 0.5em;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);
}

.search-icon svg{
    width: 2.5em;
}

/*EOF search-container styling*/