/*nav styling*/
.top-nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30em;
    padding-right: 0.55em;
    padding-left: 1em;
    background-color: #fff;
    border-radius: 1em;
    padding-block: 0.5em;
}

.nav-text {
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-inline: 1.8em;
    padding-block: 0.8em;
}

.nav-text:hover {
    background-color: #c8b7c9;
}

.active {
    /*background-color: #000;*/
    background-color: #EEEEEE;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 0.6em;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
}

#profile {
    position: absolute;
    top: 1.5em;
    right: 3vw;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

#profile:hover {
    cursor: pointer;
}

#prof-img {
    /*margin-top: 2.3em;*/
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

/*EOF nav styling*/

/*Profile and Dialog box styling*/

#account-dialog-box {
    padding: 0;
    left: -40%;
}

/*EOF Dialog box styling*/