body {
    overflow: hidden;
    position: relative;
    background-image: url("../assets/img/bg.jpg");
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: #000;
    margin: 0;
}

.hotel-search-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding-right: 1200px; */
    /* justify-content: left; */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 30px;
    padding-bottom: 290px;
}

.checkin-cont, .checkout-cont, .guestnum-cont {
    width: 250px;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.checkin-cont > span {
    display: flex;
    justify-content: space-between;
}

.checkout-cont > span {
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
}

.guestnum-cont > span {
    display: flex;
    align-items: center;
    gap: 0.25em;
    justify-content: space-between;
}

.date-pickers {
    outline: 0;
    border: 0;
    background: transparent;
}

#guest-num{
    background-color: transparent;
    outline: 0;
    border: 0;
}

/* lest we want to trigger the date-pickers through the arrows
::-webkit-calendar-picker-indicator {
    display: none;
}
*/

.centerProp {
    display: flex;
    /* align-items: center; */
    width: 900px;
    height: 600px;
    border-radius: 2%;
}

.ceenterProp23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: flex-start; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    right: 180px; /* Adjust the value as needed */
    /* top: 50%; */
    transform: translateY(-50%);
    width: 900px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fff;
    padding: 10px;
    padding-left: 60px;
    border: 2px solid #c02d2d;
    border-radius: 2px;
}

.centerProp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 230px; /* Adjust the value as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 900px;
    height: 300px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    color: #fff;
    padding: 10px;
    padding-left: 60px;
    padding-top: 100px;

    border-radius: 2px;
}

/* .small-box  {
  width: 400px;
  height: 150px;
  background-color: #2ecc71;
  color: #c53939;
  margin: 10px;
  display: inline-block;
} */

.small-box img {
    position: relative;
    padding-top: 3em;
    padding-left: 2em;
    /* width: 180px; */
    height: 170px;
}

.arrow {
    /* padding-left: 200px; */
    display: flex;
    align-items: end;
    justify-content: right;
}