body {
    overflow: hidden;
    position: relative;
    background-image: url("../assets/img/bg.jpg");
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: #000;
}

/*.main-cont {*/
/*    position: sticky;*/
/*    top: 2em;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    min-width: 100vw;*/
/*}*/

.top-nav{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30em;
    padding-right: 0.55em;
    padding-left: 1em;

}

.nav-cont {
    background-color: #fff;
    /*padding: 1.5em;*/
    border-radius: 1em;
    /*margin-top: 4em;*/
    padding-block: 0.5em;

}

#profile {

    position: absolute;
    top: 1.5em;
    right: 3vw;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

#prof-img{
    /*margin-top: 2.3em;*/
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

#profile:hover {
    cursor: pointer;
}

/*#profile img {*/
/*    height: 3em;*/
/*    width: 3em;*/
/*}*/







#nav-logo{
    /*margin-right: 3em;*/
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
}

.nav-text {
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.active {
    /*background-color: #000;*/
    background-color: #EEEEEE;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 0.6em;
}

#nav-selected:hover {
    cursor: pointer;
}


#btm-nav {
    /*position: absolute;*/
    margin-bottom: 5em;
}


#mid {
    /*height: 1000px;*/
}