@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Share+Tech+Mono&family=Tektur&display=swap');

body {
    /*overflow: hidden;*/
    position: relative;
    overflow-x: hidden;

    background-image: url("../../assets/img/bg.jpg");
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*height: 100vh;*/
    color: #000;
    margin-inline: 0;

    margin: 0;
    padding: 0;
}

.top-nav a {
    text-decoration: none;
    color: #000
}

/*nav styling*/
.top-nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30em;
    padding-right: 0.55em;
    padding-left: 1em;
    background-color: #fff;
    border-radius: 1em;
    padding-block: 0.5em;
    text-decoration: none;
    gap: 1em;
}

.nav-text {
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-inline: 1.8em;
    padding-block: 0.8em;
}


.nav-text:hover {
    cursor: pointer;
}


.active {
    /*background-color: #000;*/
    /*background-color: #EEEEEE;*/
    padding-inline: 2em;
    padding-block: 1em;
    /*border-radius: 0.6em;*/
    border-radius: 0.6875rem;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);
}


#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
}

#profile {
    position: absolute;
    top: 1.5em;
    right: 3vw;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

#profile:hover {
    cursor: pointer;
}

#prof-img {
    /*margin-top: 2.3em;*/
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 4em;
}

/*EOF nav styling*/


/*Search-container styling*/

.bottom {
    padding: 0 0 2em 0;
    margin: 0;
    border: 0;
}

.search-container {
    position: sticky;
    top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 20em;
    align-items: center;
    /*gap: 0.5em;*/
}

.search-items {
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 0.5em;

}

.search-item-box {
    padding: 0.4em 0.4em 0.7em 1em;
    border-radius: 0.7em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-text {
    color: #858282;
}

.search-option-text {
    color: #000;
}

input, option {
    border: 0;
    max-width: 8em;
    margin-right: 1em;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#guests {
    max-width: 4em;
    margin-right: 1em;
    border: 0;
}


.search-hr {
    background-color: #D9D9D9;
    margin-top: 0.5em;
    min-width: 0.1em;
    max-height: 1.5em;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    /*padding: 4.5px 6px 4.5px 8px;*/

    border-radius: 0.5em;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon svg {
    width: 2.5em;
}

/*EOF search-container styling*/


.hotel-search-cont {
    display: flex;
    flex-direction: column;
    gap: 0;
    /* padding-right: 1200px; */
    /* justify-content: left; */
    /*position: absolute;*/
    left: 0;
    top: 50%;
    /*transform: translateY(-50%);*/
    /*border: 30px;*/
    /*padding-bottom: 290px;*/
}

.checkin-cont,
.checkout-cont,
.guestnum-cont {
    width: 250px;
    padding: 20px;
    /*border: 2px solid #3498db;*/
    border-radius: 8px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.checkin-cont>span {
    display: flex;
    justify-content: space-between;
}

.checkout-cont>span {
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
}

.guestnum-cont>span {
    display: flex;
    align-items: center;
    gap: 0.25em;
    justify-content: space-between;
}

.mid-container {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.date-pickers {
    outline: 0;
    border: 0;
    background: transparent;
}

#guest-num {
    background-color: transparent;
    outline: 0;
    border: 0;
}

/* lest we want to trigger the date-pickers through the arrows
::-webkit-calendar-picker-indicator {
display: none;
}
*/

.centerProp {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    /*min-width: 65vw;*/
    gap: 1em;
}

.mid-right {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    padding: 2em;
}

.next-hotel-btn {
    align-self: flex-end;
    font-size: 1.25em;
}

.mid-text {
    /*margin-block: 0.5em;*/
    font-size: 64px;
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.list-col {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.centerProp {
    display: grid;
    grid-template-columns: auto auto auto;
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    gap: 1.5em;
    max-width: 50vw;
}

.centerProp img {
    position: relative;
    /*height: 20vh;*/
    /*width: 10vw;*/
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4%;
}

.arrow {
    /* padding-left: 200px; */
    display: flex;
    align-items: end;
    justify-content: right;
}


/*hotel-list-card styling*/


.hotel-list-card {
    padding: 0;
    width: 14.0625rem;
    margin-bottom: 1em;
    transition: all 0.25s ease-in-out;
    box-shadow: 1px 1px 3px #e8e8e8;
    border-radius: 0.5em;
}

.hotel-list-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 3px #c7c7c7;
}

.bg-img img {
    width: 14.0625rem;
    height: 14.0625rem;
    object-fit: cover;
    /*opacity: 50%;*/

}

.bg-img {
    background-color: #fff;
    /*border-radius: 0.5em;*/
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 51px -10px rgba(0, 0, 0, 0.25);

    /*object-fit: cover;*/
}

/*.bg-img {*/
/*    height: 14.0625rem;*/
/*    width: 14.0625rem;*/
/*    flex-shrink: 0;*/

/*    border-radius: 1rem;*/
/*    !*background:linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(85, 83, 83, 0.61) 89.48%), url("../assets/img/adi-lica-ZpN1lhola0s-unsplash.jpg"), lightgray 50% / cover no-repeat;*!*/
/*    !*background-size: 14.0625rem auto;*!*/
/*    !*background-position: center center;*!*/
/*    box-shadow: 0px 0px 51px -10px rgba(0, 0, 0, 0.25);*/
/*}*/

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 1em 0 1em;
    height: 95%;
    color: #000;
    padding-bottom: 0;
    /*background-color: #fff;*/

    font-family: Red Hat Display, sans-serif;
    font-style: normal;
    line-height: normal;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-address {
    color: #3b3b3b;
    font-size: 0.8125rem;
    font-weight: 400;
}

.card-price {
    color: #3b3b3b;
    font-size: 0.625rem;
    font-weight: 400;
}


/*EOF hotel-list-card styling*/

/*Footer style*/

.footer {
    bottom: 0;
    /*position: fixed;*/
    margin-top: 5vh;

    background-color: #EFE7E7;
    display: flex;

    width: 100vw;
    /*height: 100vh;*/
    max-width: 100%; /* added */

    /*height: 13.5625rem;*/
    padding: 2.5625rem 4.375rem;
    justify-content: center;
    align-items: flex-start;
    gap: 9.3125rem;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    color: #000;
    font-family: Red Hat Display, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 0.5em;
}

.footer-col svg {
    /*width: 22px;*/
    /*height: 22px;*/
}

.footer-col {
    display: flex;
    flex-direction: row;

    color: #000;
    font-family: Red Hat Display, sans-serif;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-col a {
    text-decoration: none;
    color: #000;
}

/*EOF Footer Style*/

/*city selector styling*/

#city-selection {
    outline: 0;
    border:0;
    padding: 0.15em;
}

/*EOF city selector styling*/

.hotel-list-card {
    animation: popup 0.75s ease-in-out;
}

@keyframes popup {
    0% {
        transform: translateY(5%);
        opacity: 0.25;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

input {
    border: 0;
    outline: 0;
}